

/* * {
    border: 1px solid black;
}  */
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Amatic SC', cursive;
}
#h1 {
    display: flex;
    background-color: rgb(199, 77, 77);
    justify-content: space-evenly;
    color: black;
    box-shadow: #777 0 10px 6px -6px; 
    font-size: 80px;
    margin: 0;
    
}
p {
    font-size: 45px;
    float: center;
}
.row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    height: 33.333%;
}
#buttonBoard {
    position: relative;
    background-image: url('https://www.southernseaventures.com/wp-content/uploads/Sweden_fishing-village-720x466.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid rgb(199, 77, 77);
    opacity: 50%;
    box-shadow:  0 10px 6px -6px #777;
}
.textBox  {
    padding: 10px;
    height: 70px;
    width: 100px;
    text-align: center; 
    background-color: whitesmoke;
    box-shadow: 0 10px 10px -6px #777;
    border: 5px solid white;
}
.color:hover {
    background: rgb(165, 50, 50) ;
}
.tools {
    display: inline-block;
    height: 100%;
    background-color: rgb(199, 77, 77);
    opacity: 75%;
    text-align: center;
}

.main-screen {
    display: grid;
    grid-template-columns: 27% 73%;
}
.wordUp {
    display: inline-block;
    font-size: 100px;
    border: solid rgb(238, 234, 234) 1px;
    width: 250px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px -6px #777;
    justify-content: center;
    align-items: center;
}
#timer {
    display: inline-block;
    height: 80px;
    width: 120px;
    padding: 10px;
    font-size: 50px;
    align-content: center;
    text-align: center;
}
.timerBox {
    display: inline-block;
    text-align: center;
    margin: auto; 
    padding: auto;
}

button {
    padding: 10px;
    margin: 10px;
    background-color:whitesmoke;
    color: white;
    border: white;
    border-radius: 15%;
    color: black;
    box-shadow: 0 5px 2px -2px lightgray;   
}
#scoreBox {
    letter-spacing: 3px;
    padding: 20px;
    font-size: 75px;
}