

body {
    background-image: url "http://www.sweappscene.com/2017/06/20/plan-your-summer-vacation-five-apps/";
    font-family: 'Amatic SC', cursive;

}
header {
    text-align: center;
}
h1, p {
    margin: 0;
    padding: 5px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section {
    /* display: inline-block; */
    width: 40%;
    height: 50vh;
    border: 1px black solid;
}